# Ignore large image files
/image/image12.jpg
/image/image2.jpg
/image/image5.jpg
/image/image10.jpg
/image/image7.jpg
/image/image3.jpg
/image/image8.jpg
/image/image1.jpg
/image/image4.jpg
/image/image11.jpg
/image/image9.jpg
/image/image6.jpg
